.subButton{
    background: #212121 !important;
    padding: 7px 15px;
    display: inline-block;
    border: none;
    color: #FFF;
    cursor: pointer;
}

    .subButton:hover {
        background: #F05A28 !important;
        padding: 7px 15px;
        display: inline-block;
        border: none;
        color: #FFF;
        cursor: pointer;
    }