<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--<add name="PeopleSourceEntities" connectionString="metadata=res://*/PeoplesEntity.csdl|res://*/PeoplesEntity.ssdl|res://*/PeoplesEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-TAQIIB1APDS\SQLEXPRESS;initial catalog=PeopleSource;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PeoplesSourceConnectionString" connectionString="Data Source=WIN-TAQIIB1APDS\SQLEXPRESS;Initial Catalog=PeopleSource;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    <add name="PeopleSourceEntities" connectionString="metadata=res://*/PeoplesEntity.csdl|res://*/PeoplesEntity.ssdl|res://*/PeoplesEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;Initial Catalog=Peoplesource;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PeoplesSourceConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PeopleSource;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="fromEmail" value="ifour.nilesh@gmail.com" />
    <!--SandBox details-->
    <add key="ebayApiUrl" value="https://api.ebay.com/ws/api.dll" />
    <add key="SignInURL" value="https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn&amp;runame=" />
    <add key="RuName" value="ifour-ifour3dd9-30fb--tjgkp" />
    <add key="DevID" value="5d3e82b6-201d-4e18-b55f-c4cb4f41ff30" />
    <add key="AppID" value="ifour3dd9-30fb-4d0e-8878-a5a4adab936" />
    <add key="CertID" value="501da797-836e-4fb1-9d08-6fb2adc487cf" />
    <add key="Version" value="557" />
    <add key="SiteID" value="0" />
    <!--Live details-->
    <!--<add key="ebayApiUrl" value="https://api.ebay.com/ws/api.dll" />
    <add key="SignInURL" value="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&amp;runame="/>
    <add key="RuName" value="SwayAce_LLC-SwayAceL-e563-4-mfozet"/>
    <add key="DevID" value="5fd0d003-224f-484e-952b-ff471d252ce0"/>
    <add key="AppID" value="SwayAceL-e563-45f9-846f-8490d31620b2"/>
    <add key="CertID" value="c471293f-8104-4b3a-b956-15ff6a93a525"/>
    <add key="Version" value="557"/>
    <add key="SiteID" value="0"/>-->
    <add key="HideProxyView" value="false" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>